@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto;
}

h1 {
    margin: 5rem 0 0 6rem;
}

h2 {
    display: inline-block;
    width: 25rem;
    margin: 1.5rem 0 0 6rem;
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    letter-spacing: 0.2px;
}

#signup-message {
    margin: 14rem 0 1rem;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 300;
}

#signup-form {
    text-align: center;
}

#signup-form input {
    height: 45px;
    width: 330px;
    margin: 0 0 1rem 0;
    border: 0;
    padding: 0 10px;
    vertical-align: top;
    font-size: 16px;
}

#signup-form button {
    height: 45px;
    width: 81px;
    margin: 0 0 1rem 0;
    border: 0;
    padding: 0;
    background-color: rgb(17, 160, 112);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    vertical-align: top;
    cursor: pointer;
}

#submit-response {
    text-align: center;
}

.hidden {
    display: none;
}
