<html>
    <head>
        <title>Smelou</title>
    </head>

    <body>
        <div>
            Smelou:
            <a href="/index">Home</a>
                {% if g.user.is_authenticated() %}
                    | <a href="{{ url_for('profile', nickname=g.user.nickname) }}">Profile</a>
                    | <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
        </div>

        <hr/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
