<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="utf-8">

        <title>Smelou</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/home.css') }}">

        <script src="{{ url_for('.static', filename='js/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/home.js') }}"></script>
    </head>

    <body>
        <div id="content-wrapper">
            <h1><img src="{{ url_for('.static', filename='img/logo.png') }}" alt="logo"/></h1>

            <h2>
                O Smelou é uma plataforma web que utiliza os dados de navegação e redes
                sociais para expor produtos de interesse do usuário.
            </h2>

            <div id="signup-message">
                Cadastre seu e-mail e fique por dentro das novidades do Smelou.
            </div>

            <form id="signup-form" method="post" action="{{ url_for('save_email') }}">
                <input id="email-input" name="email" type="text"/>
                <button type="submit"><img src="{{ url_for('.static', filename='img/button.png') }}" alt="submit"/></button>
            </form>

            <div id="submit-response">
                <img id="empty-email-response" src="{{ url_for('.static', filename='img/branco.png') }}" class="hidden" alt="blank"/>
                <img id="invalid-request-response" src="{{ url_for('.static', filename='img/invalido.png') }}" class="hidden" alt="invalid"/>
                <img id="success-request-response" src="{{ url_for('.static', filename='img/sucesso.png') }}" class="hidden" alt="success"/>
            </div>
        </div>
    </body>
</html>
