{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
  <h1>Hi, {{ user.name }}</h1>

  <ul>
      <li><strong> Name: </strong>{{ user.name }}</li>
      <li><strong> ID: </strong>{{ user.id }}</li>
      <li><strong> Email: </strong> {{ user.email }}</li>
      <li><strong> Picutre: </strong> <img src="{{ user.picture }}"></img></li>
  </ul>

  <p>
      {% if user.has_extension %}
          {% if user.has_profile %}
              <h3>Seu perfil esta completo!</h3>

          {% else %}
              <h3>Seu perfil ainda esta carregando, mas voce ja pode selecionar alguns itens! :)</h3>
          {% endif %}

          <form action="/update_profile" method="post" name="product">
              {{ form.hidden_tag() }}
              <p>Please select the product you wish to display in your public profile:</p>
              {{ forms.render(form) }}
              <input type="submit">
          </form>

      {% else %}
          <h3>Favor instalar e executar a extensao do smelou (somente disponivel p/ chrome).</h3>
      {% endif %}
  </p>
{% endblock %}
