{% extends "base.html" %}

{% block content %}
<h1>This is {{ user.name }}'s profile.</h1>

<ul>
    <li><strong>Name: </strong>{{ user.name }}</li>
    <li><strong>Nickname: </strong>{{ user.nickname }}</li>
    <li><strong>Picutre: </strong> <img src="{{ user.picture }}"></img></li>
</ul>

<h3>{{ user.name }} wish list:</h3>

<table>
    {% for page in user.get_pages() %}
        <tr>
            <td><strong>{{ page.title }}</strong></td>
            <td><img src="{{page.picture}}" height="42" width="42"></img></td>
            <td><a href="{{ page.url }}">link</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
