body {
    width: 100%;
    margin: 0;
    background: #E6E6E6;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

input, select, textarea, button, .button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    color: #777;
    border: 1px solid #ccc;
    margin: 0;
    background-color: #F5F5F5;
}

input {
    width: 156px;
    min-height: 20px;
    padding: 6px 4px 6px 7px;
    line-height: 1;
}

input[type="radio"], input[type="checkbox"] {
    min-height: 13px;
    width: auto;
    margin-right: 10px;
}

option {
    padding: 5px;
}

select {
    width: 175px;
    height: 34px;
    padding: 5px 5px 5px 2px;
    line-height: 1;
}

button, .button {
    line-height: 1;
    font-size: 0.9em;
    display: inline-block;
    padding: 12px 15px 10px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: top;
    transition: all 0.2s;
    font-weight: bold;
    color: white;
    background-color: #149D83;
    text-decoration: none !important;
}

button img, .button img {
    height: 22px;
    margin: -5px 10px -5px -5px;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

h2, h3 {
    font-weight: 300;
    color: #777;
    margin: 0;
}

h2 {
    letter-spacing: -0.025em;
    font-size: 3em;
    line-height: 1em;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 1.6em;
}

.modal {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
}

/* Buttons */

/*.button {
    width: 10em;
    display: inline-block;
    background: #11A070;
    border: 0;
    margin: 0;
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    text-align: center;
    height: 3.42em;
}

.button:hover {
    background: #70AA7E;
}
*/

.display-none {
    display: none !important;
}

#header {
    height: 279px;
    text-align: center;
    background-image: url("../img/mvp-quest-header.jpg");
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header-menu-icon {
    top: 0;
    position: absolute;
    margin: 18px 0 0 165px;
    padding: 7px;
    cursor: pointer;
}

#header-menu-icon:hover, #header-menu-icon.green {
    background-color: #149D83;
}

#header-menu {
    top: 0;
    position: absolute;
    display: inline-block;
    width: 120px;
    background-color: #E6E6E6;
    margin: 52px 0 0 85px;
}

#header-menu a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #4a4a4a;
    margin: 0 5px;
}

#header-menu a + a {
    border-top: 1px solid #c2c2c2;;
}

#logo {
    margin-top: 45px;
}

#content-wrapper {
    max-width: 750px;
    min-width: 320px;
    min-height: 710px;
    margin: -90px auto 0;
    background-color: white;
}

#profile {
    height: 50px;
    background-color: #149D83;
    color: white;
    position: relative;
    font-size: 24px;
    font-weight: bold;
}

#profile-image {
    display: inline-block;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 35px;
    top: -40px;

}

#profile-image img {
    width: 127px;
}

#profile span {
    margin-left: 185px;
    line-height: 50px;
}

#content {
    padding: 35px;
    font-size: 15px;
    color: #4a4a4a;
}

#send-to-facebook {
    float: right;
    margin-top: -77px;
    position: relative;
    cursor: pointer;
    background-color: #149D83;
    padding-left: 5px;
}

#content-description {
    color: #777;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 2px solid #c2c2c2;
}

#content-description span {
    color: #4a4a4a;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 400;
}

#content-description h1 {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto 5px auto;
    line-height: 1.3;
    text-align: center;
    max-width: 445px;
}

#content-description h2 {
    color: #777;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto 5px auto;
    line-height: 1.3;
    text-align: center;
    max-width: 445px;
}

#party-name {
    text-transform: capitalize;
}

#rename-party {
    padding: 0;
    text-align: center;
}

#rename-party span {
    font-size: 11px;
    color: #888;
    cursor: pointer;
}

#modal-rename-party form {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}

#modal-rename-party h2 {
    font-size: 2rem;
}

#modal-rename-party input {
    width: 200px;
    margin: 30px 15px 15px;
}

#products-counter {
    position: relative;
    color: #777;
    text-align: center;
    line-height: 1px;
}

#order-by-price {
    right: 0;
    position: absolute;
    cursor: pointer;
    color: #07b;
}

#products-list {
    padding: 35px 0;
    text-align: center;
}

#products-list .card {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 315px;
    padding: 10px;
    margin: 0 5px 15px 0;
    background-color: #eee;
    vertical-align: top;
    text-align: center;
    line-height: 1.3;
}

#products-list :nth-child(3n + 3) {
    margin-right: 0;
}

#products-list .card .remove {
    position: absolute;
    top: -10px;
    right: -5px;
    cursor: pointer;
}

#products-list .card > a > img {
    height: 140px;
    max-width: 200px;
    margin-bottom: 15px;
}

#products-list .card .item-name {
    height: 38px;
    overflow: hidden;
    font-weight: bold;
}

#products-list .card .item-price {
    font-size: 20px;
    font-weight: bold;
    color: #159c82;
    border-bottom: 2px solid #c2c2c2;
    padding: 25px 0 10px;
    margin: 0 0 10px;
}

#products-list .card .item-go-to-store {
    width: 100%;
    display: inline-block;
    padding: 7px 0;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: #4A4A4A;
}

#products-list .card div > img {
    cursor: pointer;
}

#products-list .card div > img + a {
    margin-left: 110px;
}

#products-list-links {
    text-align: center;
}

#products-list-links span {
    margin-left: 20px;
    cursor: pointer;
}

.explanation-tooltip {
    position: absolute;
    top: 0;
    padding: 10px;
    background-color: #D22769;
    color: white;
    font-size: 10px;
    font-weight: 500;
    text-align: left;
}

.explanation-tooltip.left {
    left: 0;
    width: 145px;
}
.explanation-tooltip.left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 165px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #D22769;
}

.explanation-tooltip.right {
    right: -25px;
    width: 130px;
}

.explanation-tooltip.right::before {
    content: '';
    position: absolute;
    top: 0;
    right: 150px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #D22769;
}

.explanation-tooltip .hide {
    float: left;
    margin: -5px 10px 0 -5px;
    cursor: pointer;
}

.explanation-tooltip.right .hide {
    float: right;
    margin: -5px -5px 0 10px;
}

#inform-item {
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

#inform-item input {
    width: 280px;
    background-color: #f5f5f5;
    padding: 8px 10px;
    border: 1px solid #eee;
    margin-left: -10px;
}

#inform-item button {
    border-radius: 0;
    margin-left: 10px;
    padding: 2px 0 0 0;
    height: 38px;
    width: 40px;
    position: absolute;
}

#inform-item button img {
    width: 27px;
    height: auto;
    margin: 0;
}

#cards-deck {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

#liked-counter {
    position: absolute;
    right: 132px;
    top: -10px;
}

#liked-counter span {
    position: absolute;
    top: 4px;
    right: 0;
    width: 24px;
    text-align: center;
    color: white;
    font-size: 13px;
}

#card-view {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

#card-view .card {
    display: inline-block;
    position: absolute;
    width: 290px;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: #eee;
    line-height: 1.3;
    visibility: hidden;
}

#card-view .card:first-of-type {
    position: relative;
    visibility: visible;
}

#card-view .card a img {
    height: 190px;
    max-width: 290px;
}

#card-view .card .item-name {
    display: block;
    font-weight: bold;
    color: #4a4a4a;
    margin: 15px 0;
    height: 38px;
    overflow: hidden;
}

#card-view .card .item-description {
    color: #666;
    height: 75px;
    overflow: hidden;
    margin: 0;
}

#card-view .card .item-price {
    font-size: 20px;
    font-weight: bold;
    color: #159c82;
    padding: 25px 0 10px;
    margin: 0 0 5px;
}

#card-view .card .item-opinions {
    height: 80px;
    background-color: #E4E2E3;
}

#card-view .card .opinion {
    margin-top: 8px;
    cursor: pointer;
}

#card-view .card .opinion.dislike {
    padding-right: 40px;
    margin-right: 40px;
    border-right: 2px solid #c2c2c2;
}

#card-view div span {
    cursor: pointer;
}

.ui-autocomplete {
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    max-height: 325px;
    overflow-y: auto;
    z-index: 1;
    padding: 0;
}

.ui-autocomplete li, .ui-helper-reset li {
    list-style-type: none;
}

.ui-autocomplete li a {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 7px 10px;
    cursor: pointer;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

.ui-autocomplete li.ui-state-focus a {
    background-color: #eee;
}

.ui-autocomplete li img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

#questionary-form ul {
    padding: 0;
}

#questionary-form li {
    list-style-type: none;
    padding: 5px 0;
}

#questionary-form > div:last-child {
    margin-top: 35px;
    text-align: center;
}

#questionary-form a {
    margin-right: 5%;
}


@media (max-width: 350px) {
    #inform-item {
        text-align: left;
    }

    #inform-item input {
        width: 218px;
        margin-left: 0;
    }

    #card-view .card {
        width: 270px;
    }

    #order-by-price {
        position: static;
        display: block;
        margin-top: 35px;
    }

    iframe {
        display: none;
    }
}

@media (max-width: 749px) {
    #logo {
        margin-top: 65px;
    }

    #content {
        padding: 35px 15px 90px;
    }

    #profile span {
        margin-left: 140px;
    }

    #profile-image {
        top: -22px;
        width: 90px;
        height: 90px;
    }

    #profile-image img {
        width: 90px;
    }

    .explanation-tooltip, #liked-counter {
        display: none;
    }

    #header-menu-icon {
        right: 10px;
        margin: 18px 0 0 0;
    }

    #header-menu {
        right: 10px;
        margin: 52px 0 0 0;
    }

    #products-list :nth-child(3n + 3) {
        margin-right: 5px;
    }
}
