html, body {
    width: 760px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#bg {
    position: absolute;
}

#logo {
    padding-top: 45px;
    text-align: center;
    position: relative;
}

#logo p {
    width: 515px;
    margin: 25px auto 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#logo p + p {
    margin-top: 3px;
}

#form {
    height: 135px;
    margin: 205px 0 0;
    text-align: center;
    position: relative;
}

#form > p {
    font-size: 14px;
    color: white;
}

#form input {
    width: 300px;
    height: 40px;
    margin: 0;
    border: 0;
    padding: 0 15px;
    font-size: 16px;
    vertical-align: top;
}

#form button {
    height: 40px;
    min-width: 90px;
    margin: 0;
    border: 0;
    padding: 0 10px;
    vertical-align: top;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #11A070;
}

#form button:enabled {
    cursor: pointer;
}

#success-response {
    margin-top: 12px;
}

#success-response p {
    display: inline-block;
    width: 394px;
    padding: 4px 0 2px;
    margin: 0;
    color: #11A070;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: .1px 0 #aaa;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}

#success-response.hidden {
    display: none;
}

.bg-dotted {
    background: url("../img/bg_dotted.jpg");
}

h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 40px;
    font-weight: 300;
    color: #666;
    text-align: center;
}

#info {
    height: 380px;
    padding: 0 15px;
}

#info .box {
    display: inline-block;
    width: 150px;
    height: 321px;
    padding: 20px 10px;
    background-color: #bebebe;
    background-color: rgba(57, 57, 57, .3);
    text-align: center;
    vertical-align: top;
}

#info .box + .box {
    margin-left: 12px;
}

#info .box h2 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 25px 0;
}

#info .box p {
    font-size: 14px;
    color: #555;
}

.loading {
    display: inline-block;
    margin: 10% auto;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #262626;
    border-top: 4px solid #262626;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    -webkit-animation: spin .6s infinite linear;
    -moz-animation: spin .6s infinite linear;
    -ms-animation: spin .6s infinite linear;
    -o-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
