/*****************************************************************************/
/* Basic                                                                     */
/*****************************************************************************/

    body {
        margin: 0;
        background: #161616;
    }

    body, input {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.75em;
        color: #777;
    }

    h2, h3 {
        font-weight: 300;
        color: #777;
        margin: 0;
    }

    h2 {
        letter-spacing: -0.025em;
        font-size: 3em;
        line-height: 1em;
    }

    a {
        text-decoration: none;
        color: #777;
    }

    a:hover {
        text-decoration: underline;
    }

    hr {
        border: 0;
        border-top: solid 1px #ddd;
        margin: 4em 0;
        padding: 0;
    }

    header {
        margin-bottom: 1.6em;
    }

    .display-none {
        display: none;
    }

/*****************************************************************************/
/* Header                                                                    */
/*****************************************************************************/

    #header {
        position: relative;
        height: 100vh;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        background-size: cover;
        background-color: #333;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -o-transition: opacity 4s ease;
        -ms-transition: opacity 4s ease;
        -moz-transition: opacity 4s ease;
        transition: opacity 4s ease;
    }

    .bg.visible {
        opacity: 1;
    }

    #logo {
        margin-top: 1em;
    }

    #login {
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 340px;
        height: 125px;
        margin-top: 15px;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.4);
    }

    #login a {
        height: 42px;
    }

/*****************************************************************************/
/* Featured                                                                  */
/*****************************************************************************/

    #featured {
        padding: 4em 0;
        background: #f2f2f2;
        text-align: center;
    }

    #featured > header, #featured > p, #featured > hr, #featured > div {
        display: block;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1em;
    }

    #featured h3 {
        font-weight: 300;
        margin: 1.5em 0;
        font-size: 1.6em;
    }

    #featured > p {
        line-height: 2em;
        font-size: 1.2em;
        margin-top: 4em;
        margin-bottom: 4em;
        padding: 0 2em;
    }

    #featured > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #featured section {
        max-width: 396px;
        margin-top: 4em;
    }

    #featured section p {
        padding: 0 1em;
        margin: 0;
        line-height: 2em;
        font-size: 1.2em;
    }

/*****************************************************************************/
/* Partnets                                                                  */
/*****************************************************************************/

    #partners {
        text-align: center;
        background-color: #80BA8E;
        padding: 4em 0;
    }

    #partners h2 {
        color: #ddd;
        margin-bottom: 1.5em;
    }

    #partners a {
        display: inline-block;
    }

/*****************************************************************************/
/* Contact                                                                   */
/*****************************************************************************/

    #contact {
        position: relative;
        text-align: center;
        padding: 3em 0;
    }


/*****************************************************************************/
/* Misc                                                                      */
/*****************************************************************************/

@media (max-width: 350px) {
    #login {
        width: 310px;
    }

    #login img {
        width: 290px;
    }
}

@media (max-width: 620px) {
    #header {
        height: 27em;
    }

    #login {
        margin-top: 2em;
    }
}

@media (max-width: 820px) {
    #featured section {
        max-width: auto;
    }
}
