<!DOCTYPE HTML>

<html>
    <head>
        <title>Smelou</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport"/>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/toastr.min.css') }}">

        <script src="{{ url_for('.static', filename='js/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/jquery-ui-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/toastr.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/home.js') }}"></script>

        <!-- Start of Smelou Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","smelou.zendesk.com");/*]]>*/</script>
        <script>
          zE(function() {
            zE.setLocale('pt-BR');
            {% if g and g.user %}
                zE.identify({name: '{{ g.user.name }}', email: '{{ g.user.email}} '});
            {% endif %}
          });
        </script>
        <!-- End of Smelou Zendesk Widget script -->

        {% if campaings %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style_campaigns.css') }}">

        {% else %}
            {% if g.user.is_authenticated() or user %}
                <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/logged.css') }}">

            {% else %}
                <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
            {% endif %}
        {% endif %}
    </head>

    <body>
        {% block body %}
            {% if g.user.is_authenticated() and not user %}
                {% set user = g.user %}
            {% endif %}

            <div id="header">
                <img id="logo" src="{{ url_for('.static', filename='img/logo.png') }}" alt="logo"/>

                {% if g.user.is_authenticated() %}
                    <img id="header-menu-icon" src="{{ url_for('.static', filename='img/menu.png') }}" alt="menu">

                    <div id="header-menu" class="display-none">
                        <a href="{{ url_for('user', nick=g.user.nickname) }}">Minha lista</a>
                        <a href="{{ url_for('questionary') }}">Questionário</a>
                        <a href="{{ url_for('logout') }}">Sair</a>
                    </div>
                {% endif %}
            </div>

            <div id="content-wrapper">
                <div id="profile">
                    <div id="profile-image">
                        <img src="{{ user.picture }}" alt="profile">
                    </div>

                    <span>{{ user.name }}</span>
                </div>

                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        <script async>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


            /* user tracking */
            {% if g.user.is_authenticated() %}
                ga('create', 'UA-58685582-1', "{ 'user' : '{{g.user.nickname}}' }");
            {% else %}
                ga('create', 'UA-58685582-1');
            {% endif %}
            ga('send', 'pageview');
        </script>

        <script async type="text/javascript">
            /* user tracking for clicky */
            {% if g.user.is_authenticated() %}
                var clicky_custom = clicky_custom || {};
                clicky_custom.visitor = {
                    username: '{{g.user.nickname}}',
                };
            {% endif %}
            var clicky_site_ids = clicky_site_ids || [];
            clicky_site_ids.push(100807903);
            (function() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//static.getclicky.com/js';
                ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
            })();
        </script>
    </body>
</html>
