{% extends "base.html" %}

{% block body %}
    <img id="bg" alt="background" src="{{ url_for('.static', filename='img/bg_birthdays.jpg') }}"/>

    <div id="logo">
        <img alt="logo" src="{{ url_for('.static', filename='img/logo.png') }}"/>

        <p>Ajude seus amigos a escolherem seus presentes!</p>
        <p>Crie sua lista e conte pra todo mundo o que</p>
        <p>você quer ganhar na sua festa de 15 anos.</p>
    </div>

    <form id="form" action="https://script.google.com/macros/s/AKfycbzXHVa5jSTMvLQTxasO-wAlrCMel8z5NDky_fjrZL1STI2PMM8/exec">
        <p>Para se cadastrar, insira seu email no campo abaixo.</p>

        <input id="email-input" type="email" name="festa15" placeholder="Email" required="required"/>
        <input type="hidden" name="dar_presentes" value=""/>
        <input type="hidden" name="facebook" value=""/>
        <input type="hidden" name="site" value=""/>
        <button>Cadastrar</button>

        <div id="success-response" class="hidden">
            <p>Ainda não estamos prontos!</p>
            <p>Em breve você receberá novidades sobre o Smelou.</p>
        </div>
    </form>

    <h1 class="bg-dotted">Como funciona?</h1>

    <div id="info" class="bg-dotted">
        <div class="box">
            <img src="{{ url_for('.static', filename='img/login.png') }}" alt="login"/>

            <h2>Faça login</h2>

            <p>Faça login no Smelou através do Facebook. Seus dados, preferências e históricos de navegação serão utilizados para traçar o seu perfil de presentes.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/create_list.png') }}" alt="create list"/>

            <h2>Monte sua lista</h2>

            <p>O Smelou irá exibir diversas sugestões de produtos e experiências que se encaixam no seu perfil. Você só precisa selecionar o que deseja ganhar dentre as opções.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/share_list.png') }}" alt="share list"/>

            <h2>Compartilhe</h2>

            <p>Você pode compartilhar as suas sugestões de presentes nas redes sociais ou, se for mais tímido, pode apenas armazenar o que deseja comprar futuramente.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/refresh.png') }}" alt="refresh"/>

            <h2>Atualize</h2>

            <p>Mantenha a sua lista sempre atualizada. Acrescente presentes, retire aquilo que você não quer mais e mostre pro seus amigos o que já ganhou.</p>
        </div>
    </div>
{% endblock %}
