<div class="card" data-get-more-url="{{ url_for('more_items', page=page) }}" data-opinion-url="{{ url_for('user_opinion', itemid=card.id) }}">
    <a href="{{ card.lomadee or card.url }}" target="_blank"><img src="{{ card.image or url_for('.static', filename='img/card_default_image.jpg') }}" alt="{{ card.name }}"/></a>

    <a href="{{ card.lomadee or card.url }}" class="item-name ellipsis" target="_blank">{{ card.name }}</a>

    <p class="item-description ellipsis">{{ card.description }}</p>

    <div class="item-price">{{ card.price }}</div>

    <div class="item-opinions">
        <img src="{{ url_for('.static', filename='img/mvp-tinder-nao.png') }}" class="opinion dislike" alt="dislike">
        <img src="{{ url_for('.static', filename='img/mvp-tinder-sim.png') }}" class="opinion like" alt="like">
    </div>
</div>
