{% extends "base.html" %}

{% block body %}
<!-- Header -->
    <div id="header">
        <!-- <img src="{{ url_for('.static', filename='img/login_fb.png') }}" alt="login_fb"/> -->
        <img class="bg first" src="{{ url_for('.static', filename='img/bg-05.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-04.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-03.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-02.jpg') }}">
        <img class="bg last visible" src="{{ url_for('.static', filename='img/bg-01.jpg') }}">

        <div>
            <img id="logo" src="{{ url_for('.static', filename='img/logo.png') }}" alt="logo"/>

            <section id="signup-section">
                <form id="signup-form" method="post" action="https://script.google.com/macros/s/AKfycbzXHVa5jSTMvLQTxasO-wAlrCMel8z5NDky_fjrZL1STI2PMM8/exec" class="contact">
                    <header>
                        {% if test %}
                            <h3>Entre com seu e avalie seus possíveis próximos presentes</h3>

                        {% else %}
                            <h3>Register your email and stay on top of Smelou's news</h3>
                        {% endif %}
                    </header>

                    <div>
                        <input id="email-input" type="email" name="site" placeholder="Email" required="required"/>
                        <input type="hidden" name="facebook" value=""/>
                        <input type="hidden" name="festa15" value=""/>
                        <input type="hidden" name="dar_presentes" value=""/>
                        <button type="submit" class="button">Sign up</button>
                    </div>
                </form>

                <div id="success-response" class="hidden">
                    <p>We are not ready yet!</p>
                    <p>Soon you will get news from us. :)</p>
                </div>
            </section>
        </div>
    </div>

<!-- Featured -->
    <div id="featured">
        <header>
            <h2>What we do?</h2>
        </header>

        <p>Have you ever had trouble gifting someone? When was the last time you were gifted something you really wanted? <br /> Smelou is an online platform that helps you give and receive better gifts. </p>

        <hr />

        <div>
            <section>
                <img src="{{ url_for('.static', filename='img/search.png') }}" alt="search-icon"/>

                <h3>Give better gifts</h3>

                <p> Anyone can navigate through their friends' Smelou profile for gifts suggestions and also access detailed information about style, measures and numbering, which you would not have the courage to ask in person! </p>
            </section>

            <section>
                <img src="{{ url_for('.static', filename='img/lists.png') }}" alt="lists-icon"/>

                <h3>Expose what you want</h3>

                <p> We have developed an algorithm that uses liking history from Facebook to recommend personalized products. Users just have the light work of selecting what matters to them.</p>
            </section>

            <section>
                <img src="{{ url_for('.static', filename='img/share.png') }}" alt="share-icon"/>

                <h3>Stay connected</h3>

                <p>You can share your profile to your social network, comment in your friend's profile and even brag about that nice T-shirt your father just gave you.</p>
            </section>
        </div>
    </div>

<!-- Partners -->
    <div id="partners">
        <header>
            <h2>Who is helping us?</h2>
        </header>

        <a href="http://www.startupfarm.com.br"><img src="{{ url_for('.static', filename='img/startup-farm.png') }}" alt="startupfarm"/></a>
    </div>

<!-- Contact -->
    <div id="contact">
        <a href="mailto:contato@smelou.com">contato@smelou.com</a>
    </div>
{% endblock %}
