<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div id="content-description">
      <h1>Seus amigos querem saber mais sobre você!</h1>
      <h2>Responda as perguntas abaixo e deixe seu perfil ainda mais completo.</h2>
  </div>

  <form id="questionary-form" method="post" name="edit">
      {{form.hidden_tag()}}
        <div>
            <p>Quando é o seu aniversário?</p>
            <div>{{ form.birthday() }}</div>
        </div>

        <div>
            <p>O que você está comemorando? (Festa 15 anos, Aniversário, etc)<p>
            <div>{{ form.party() }}</div>
        </div>

        <div>
            <p>Quanto você calça?</p>
            <div>{{ form.shoes_size() }}</div>
        </div>

        <div>
            <p>Qual o seu tamanho de blusa?</p>
            <div>{{ form.shirt_size() }}</div>
        </div>

        <div>
            <p>Qual o seu tamanho de calça?</p>
            <div>{{ form.pants_size() }}</div>
        </div>

        <div>
            <p>O que você valoriza na hora de comprar uma roupa?</p>
            <div>{{ form.buying() }}</div>
        </div>

        <div>
            <p>O que você mais gosta de fazer nas horas vagas?</p>
            <div>{{ form.hobby() }}</div>
        </div>

        <div>
            <p>Qual cor funciona bem em você?</p>
            <div>{{ form.color }}</div>
        </div>

        <div>
            <a href="{{ url_for("products") }}" class="button">Pular Questionário</a>
            <button type="submit">Salvar Respostas</button>
        </div>
  </form>
{% endblock %}
