<p>
<strong> url: </strong> <a href="{{ item.url }}" target="_blank">{{ item.url }} </a>
<br />
<strong> id: </strong> {{ item.id }}
</p>
<form method="POST" action="">
<ul>
    {{ form.hidden_tag() }}
    <li>{{ form.name.label }} {{ form.name(size=100) }} </li>
    <li>{{ form.normalized.label }} {{ form.normalized(size=100) }} </li>
    <li>{{ form.category.label }} {{ form.category(size=100) }} </li>
    <li>{{ form.price.label }} {{ form.price() }} </li>
    <li><img src="{{ item.image }}" height="128"> Insira uma nova url de imagem: {{ form.image(size=90) }} 
        {% for error in form.image.errors %}
             <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </li>
    <li>{{ form.store.label }} {{ form.store() }} </li>
    <li> Qual o interesse de jovens no item? {{ form.score() }} </li>
    <li> Para qual sexo esse item serve? {{ form.gender() }} </li>
    <br />
    <input type="submit" value="Go">
</ul>
</form>
<hr>
<div style="background-color:yellow">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<h3> Total: {{ total }}</h3>
