{% extends "base.html" %}

{% block body %}
    <img id="bg" alt="background" src="{{ url_for('.static', filename='img/bg_giving.jpg') }}"/>

    <div id="logo">
        <img alt="logo" src="{{ url_for('.static', filename='img/logo.png') }}"/>

        <p>Você tem dificuldade para dar presentes?</p>
        <p>O Smelou te ajuda a descobrir os interesses de seus amigos e</p>
        <p>sugere diversos produtos e experiências que eles gostariam de ganhar.</p>
    </div>

    <form id="form" action="https://script.google.com/macros/s/AKfycbzXHVa5jSTMvLQTxasO-wAlrCMel8z5NDky_fjrZL1STI2PMM8/exec">
        <p>Para se cadastrar, insira seu email no campo abaixo.</p>

        <input id="email-input" type="email" name="dar_presentes" placeholder="Email" required="required"/>
        <input type="hidden" name="facebook" value=""/>
        <input type="hidden" name="festa15" value=""/>
        <input type="hidden" name="site" value=""/>
        <button>Cadastrar</button>

        <div id="success-response" class="hidden">
            <p>Ainda não estamos prontos!</p>
            <p>Em breve você receberá novidades sobre o Smelou.</p>
        </div>
    </form>

    <h1 class="bg-dotted">Como funciona?</h1>

    <div id="info" class="bg-dotted">
        <div class="box">
            <img src="{{ url_for('.static', filename='img/login.png') }}" alt="login"/>

            <h2>Faça login</h2>

            <p>Faça login no Smelou através do Facebook e selecione a pessoa que será presenteada na sua lista de amigos.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/create_list.png') }}" alt="create list"/>

            <h2>Monte sua lista</h2>

            <p>O Smelou irá exibir diversas sugestões de produtos e experiênciais que se encaixam no perfil dessa pessoa.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/shop.png') }}" alt="shop"/>

            <h2>Compre online</h2>

            <p>Economize tempo e compre o presente escolhido diretamente pela plataforma do Smelou.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/bag.png') }}" alt="receive gifts"/>

            <h2>Ganhe brindes</h2>

            <p>Ganhe pontos que podem ser trocados por brindes: chocolates, produtos de beleza, cervejas e descontos.</p>
        </div>
    </div>
{% endblock %}
