{% extends "base.html" %}

{% block content %}
    <div id="content-description">
        <h1>Selecione os produtos e experiências que você deseja acrescentar na sua lista.</h1>
    </div>

    <form id="inform-item" action="{{ url_for('insert_item') }}">
        <input id="autocomplete" type="text" name="item" required="required" data-url="{{ url_for('items_autocomplete') }}"/>

        <button><img src="{{ url_for('.static', filename='img/add.png') }}" alt="add"></button>

        <span class="explanation-tooltip right">
            <span class="hide"><img src="{{ url_for('.static', filename='img/fechar-tooltip.png') }}" alt="hide"></span>
            Utilize a busca para procurar por presentes específicos. Clique no
            botão ADICIONAR para enviar o produto para sua lista.
        </span>
    </form>

    <div id="cards-deck">
        <div id="liked-counter">
            <a href="{{ url_for('user', nick=g.user.nickname) }}">
                <span>{{ count }}</span>
                <img src="{{ url_for('.static', filename='img/mvp-tinder-contador.png') }}" alt="liked counter">
            </a>
        </div>
        <div id="card-view">
            {% for card in items %}
                {% include "card.html" %}
            {% endfor %}
        </div>

        <span class="explanation-tooltip left">
            <span class="hide"><img src="{{ url_for('.static', filename='img/fechar-tooltip.png') }}" alt="hide"></span>
            Comece a montar a sua lista por aqui! Clique no botão SIM para
            selecionar o presente que deseja ou clique no botão NÃO para
            descartá-lo. Você poderá voltar para esta tela quantas vezes
            quiser.
        </span>
    </div>

    <div id="products-list-links">
        <a href="{{ url_for('user', nick=g.user.nickname) }}" class="button">Ver sua lista</a>
    </div>
{% endblock %}
