{% extends "base.html" %}

{% block body %}
<!-- Header -->
    <div id="header">
        <img class="bg first" src="{{ url_for('.static', filename='img/bg-05.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-04.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-03.jpg') }}">
        <img class="bg" src="{{ url_for('.static', filename='img/bg-02.jpg') }}">
        <img class="bg last visible" src="{{ url_for('.static', filename='img/bg-01.jpg') }}">

        <div>
            <img id="logo" src="{{ url_for('.static', filename='img/logo.png') }}" alt="logo"/>

            <div id="login">
                <a href="{{url_for('facebook_login')}}"><img src="{{ url_for('.static', filename='img/login_fb.png') }}" alt="login_fb"/></a>
            </div>
        </div>
    </div>

<!-- Featured -->
    <div id="featured">
        <header>
            <h2>Quem Somos</h2>
        </header>

        <p>Já teve dificuldade para comprar presentes? Qual foi a última vez que você ganhou algo que realmente queria? O Smelou é uma plataforma online que te ajuda a dar e receber presentes melhores.</p>

        <hr />

        <div>
            <section>
                <img src="{{ url_for('.static', filename='img/search.png') }}" alt="search-icon"/>

                <h3>Intuitivo</h3>

                <p>A plataforma é prática e fácil de usar. O trabalho de procurar sugestões de produtos e experiências que se encaixam em seu perfil fica por nossa conta! Você só precisa selecionar o que deseja exibir para seus amigos.</p>
            </section>

            <section>
                <img src="{{ url_for('.static', filename='img/lists.png') }}" alt="lists-icon"/>

                <h3>Diversificado</h3>

                <p>Ao navegar pelas listas criadas por seus amigos, além de visualizar as sugestões de presentes, você pode acessar informações detalhadas sobre estilo, medidas e numerações, que você não teria coragem de perguntar pessoalmente!</p>
            </section>

            <section>
                <img src="{{ url_for('.static', filename='img/share.png') }}" alt="share-icon"/>

                <h3>Democrático</h3>

                <p>Você pode compartilhar as suas sugestões de presentes nas redes sociais ou, se for mais tímido, pode apenas armazenar o que deseja comprar futuramente. Fica a seu critério!</p>
            </section>
        </div>
    </div>

<!-- Partners -->
    <div id="partners">
        <header>
            <h2>Onde Estamos</h2>
        </header>

        <a href="http://www .startupfarm.com.br"><img src="{{ url_for('.static', filename='img/startup-farm.png') }}" alt="startupfarm"/></a>
    </div>

<!-- Contact -->
    <div id="contact">
        <a href="mailto:contato@smelou.com">contato@smelou.com</a>
    </div>
{% endblock %}
