{% extends "base.html" %}

{% block body %}
    <img id="bg" alt="background" src="{{ url_for('.static', filename='img/bg_birthdays.jpg') }}"/>

    <div id="logo">
        <img alt="logo" src="{{ url_for('.static', filename='img/logo.png') }}"/>

        <p>Help your friends to choose your gifts!</p>
        <p>Create your list and tell everybody what</p>
        <p>you want to receive on your 16 party.</p>
    </div>

    <form id="form" action="https://script.google.com/macros/s/AKfycbzXHVa5jSTMvLQTxasO-wAlrCMel8z5NDky_fjrZL1STI2PMM8/exec">
        <p>To subscribe, enter your email address in the field below.</p>

        <input id="email-input" type="email" name="festa15" placeholder="Email" required="required"/>
        <input type="hidden" name="dar_presentes" value=""/>
        <input type="hidden" name="facebook" value=""/>
        <input type="hidden" name="site" value=""/>
        <button>Subscribe</button>

        <div id="success-response" class="hidden">
            <p>We are not ready yet!</p>
            <p>Soon you will get news from us. :)</p>
        </div>
    </form>

    <h1 class="bg-dotted">How it works?</h1>

    <div id="info" class="bg-dotted">
        <div class="box">
            <img src="{{ url_for('.static', filename='img/login.png') }}" alt="login"/>

            <h2>Connect</h2>

            <p>Log in to Smelou using your Facebook account. Your data, preferences and browsing history will be used to trace your profile gifts.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/create_list.png') }}" alt="create list"/>

            <h2>Create your list</h2>

            <p>Smelou will display several suggestions of products and experiences that fit your profile. You just need to select what you want to gain from the options.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/share_list.png') }}" alt="share list"/>

            <h2>Share</h2>

            <p>You can share your Smelou profile on your favorite social networks. You can also request funding for more expensive gifts, like iphone or even a trip to disney.</p>
        </div>

        <div class="box">
            <img src="{{ url_for('.static', filename='img/refresh.png') }}" alt="refresh"/>

            <h2>Keep it updated</h2>

            <p>After your party, you can keep your list update for late gifts and even brag yourself about the nice gifts you have received.</p>
        </div>
    </div>
{% endblock %}
