{% extends "base.html" %}

{% block content %}
    <img id="send-to-facebook" src="{{ url_for('.static', filename='img/compartilhar.png') }}" alt="share" onclick="share_FB()"/>

    <div id="content-description">
        <h1>
            {% if user.get_questionary().party %}
                <span id="party-name">{{ user.get_questionary().party }}</span>
            {% else %}
                <span id="party-name">Festa de 15 anos</span>
            {% endif %}
            d{% if user.gender == "male" %}o{% else %}a{% endif %}
            {{ user.first_name }}!
        </h1>

        {% if user.id == g.user.id %}
            <p id="rename-party"><span>(renomear)</span></p>
        {% endif %}
    </div>

    <div id="products-counter">({{ products.count() }} produto{% if products.count() != 1 %}s{% endif %}) <span id="order-by-price">Ordenar por preço</span></div>

    <div id="products-list">
        {% for item in products %}
            <div class="card">
                {% if user.id == g.user.id %}
                    <img src="{{ url_for('.static', filename='img/delete.png') }}" alt="remove" class="remove" data-url="{{ url_for('remove_opinion', itemid=item.id) }}"/>
                {% endif %}

                <a href="{{ item.lomadee or item.url }}" target="_blank"><img src="{{ item.image }}" alt="item image"/></a>
                <div class="item-name ellipsis"><a href="{{ item.lomadee or item.url }}" target="_blank">{{ item.name }}</a></div>
                <p class="item-price">{{ item.price }}</p>

                <a href="{{ item.lomadee or item.url }}" class="item-go-to-store" target="_blank">Ir para {{ item.store or "loja" }}</a>
            </div>
        {% endfor %}
    </div>

    <div id="products-list-links">
        {% if user.id == g.user.id %}
            <a href="{{ url_for('products') }}" class="button">Adicionar mais produtos</a>
        {% endif %}

        <span onclick="share_FB()" class="button"><img src="{{ url_for('.static', filename='img/compartilhar.png') }}" alt="share">Compartilhar Lista</span>
    </div>

    <div id="modal-rename-party" class="modal display-none">
        <form action="{{ url_for('rename_party') }}">
            <h2>Novo nome</h2>

            <input type="text" name="party-name" required="required"/><br/>
            <button>Salvar</button>
        </form>
    </div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '537249039741416',
                xfbml: true,
                status: true,
                version: 'v2.2'
            });
        };
    </script>

    <script async>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = '//connect.facebook.net/en_US/sdk.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
      function share_FB(){
          FB.ui({
            method: 'feed',
            link: 'http://www.smelou.com/{{ user.nickname }}',
            redirect_uri: 'http://www.smelou.com/',
            picture: 'http://www.smelou.com/static/img/thumb-facebook.jpg',
            name: '{% if user.get_questionary().party %} {{ user.get_questionary().party }} {% else %} Festa de 15 anos {% endif %} d{% if user.gender == "male" %}o{% else %}a{% endif %} {{ user.first_name }}',
            caption: 'Criado com &#10084; por Smelou',
            description: '{% if user.gender == "male" %}O{% else %}A{% endif %} {{ user.first_name }} criou uma lista de desejos usando o aplicativo Smelou. Acesse e descubra o que el{% if user.gender == "male" %}e{% else %}a{% endif %} quer ganhar de presente!',
            display: 'popup'
          }, function(response){});
      }
    </script>
{% endblock %}
